body {
  max-width: 800px;

}

#main .hero.hero-top{
  background-color: #A6D4EB;
}

#main .top-text{
  background-color: #135182;
  color: white;
  padding-top: 36px;
  padding-bottom: 36px;
}

h2 {
  display: block;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;

}

#main .text {
  color: #135182;
}

#main {
  font-family: "dins-2014", sans-serif;
  -webkit-font-smoothing: antialiased;
}

#main .hero h2 {
  margin-bottom: 10px;
}
#main .hero h3 {
  margin-top: 10px;
}

#main h2 {
  letter-spacing: 1px;
  font-size: 41px;
  font-weight: 300;
}


#main .top-text img.down-arrows {
  width: 23px;
  height: auto;
  position: relative;
}

#main .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#main p {
  font-size: 22px;
  line-height: 29px;
}

#main h3 {
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

#main h3 {
  font-size: 25px;
  letter-spacing: 1px;
}

#main .container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding: 0 48px
}

#main .container-fluid {
  padding: 0 48px;
}

#main .hero h1 {
  margin-bottom: 24px;
}

#main .text-center {
  text-align: center;
}

#main h1 {
  letter-spacing: -1px;
  font-size: 60px;
  font-weight: 300;
}

#main p.helper {
  font-size: 17px;
  font-style: italic;
  margin-bottom: 3px;
}

#main .hero {
  background-color: #8DCECF;
  color: #135182;
  padding-top: 18px;
  text-align: center;
}

#main .hero img.goals {
  max-width: 504px;
}

#main .btns .btn-wrap {
  cursor: pointer;
}

#main .btns {
  text-align: center;
  padding-bottom: 36px;
}

/*#main .row {
  margin-left: -15px;
  margin-right: -15px;
}*/

.container-fluid hero > h2 {
  color: #135182;
}

#main .container-fluid {
  padding: 0 48px;
  margin-right: auto;
  margin-left: auto;

}

#main img {
  margin: 0;
  padding: 0;
}

#main img {
  vertical-align: middle;
}

#main img {
  border: 0;
}

#main .btns .btn-wrap .btn-img {
  max-width: 147px;
  width: 100%;
}

#main .col-sm-3 {
  width: 25%;
  float: left;
}

#main p.btn-label {
  color: #135182;
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
}

#main .btns btn-wrap .btn-label {
  margin-top: 12px;
}


#main .down-arrows {
  padding-bottom: 15px;
}

#main .btns .btn-wrap .btn-img-wrap {
  background-color: white;
  border: 3px solid #135182;
  border-radius: 3px;
  max-width: 147px;
  width: 100%;
}
#main .btns .btn-wrap .btn-label {
  margin-top: 12px;
}
#main p.btn-label {
  color: #135182;
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
}

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
#main .btns .btn-wrap:hover .btn-img-wrap {
  border: 3px solid #D6792F;
}

#main * {
  box-sizing: border-box;
}

#main .row:after {
  clear:both;
}

#main .row:before, #main .row:after {
  content: " ";
  display: table;
}

#main .hero .anytime-review {
  max-width: 384px;
}

#main .hero .anytime-feedback {
  max-width: 536px;
}
#main .hero .year-end-review {
  max-width: 687px;
}
#main .hero.hero-bottom img {
  max-width: 504px;
}

/*#main .col-sm-3 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}*/

@media (min-width: 768px)
#main .col-sm-3 {
  width: 25%;
}
